@media (min-width: 48em) {
    #header-top {
        background: transparent;
        border-bottom: none;
        &.sticky {
            background: $primay-color;
            border-bottom: 0.3rem solid $secondary-color;
        }
        .header-toggle {
            display: none;
        }
        .navigation-list {
            display: flex;
            position: relative;
            top: 0;
            left: 0;
            flex-direction: row;
            background: transparent;
        }
        .wrapper {
            width: 90%;
        }
    }
    h1 {
        font-size: 2.441em;
    }
    h2 {
        font-size: 1.953em;
    }
    h3 {
        font-size: 1.563em;
    }
    h4 {
        font-size: 1.25em;
    }
    .display-1 {
        font-size: 6em;
    }
    .display-2 {
        font-size: 5.5em;
    }
    .display-3 {
        font-size: 4.5em;
    }
    .display-4 {
        font-size: 3.5em;
    }
    .profile {
        .about-text {
            width: 80%;
            margin: 0 auto;
            padding: 5%;
        }
        .wrapper {
            flex-direction: row-reverse;
            flex-flow: row;
        }
    }
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
    html,
    body {
        font-size: 16px !important;
    }
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
    html,
    body {
        font-size: 16px !important;
    }
}